/*---------todo------------*/

.app-body-content{
	height: 100%;
}

.mano{
	cursor: pointer;
}
.noline
{
	color: red;
}
.line
{
	color: green;
}

/*----hearder------*/
.menuSuperior
{
	height: 70px;
	background: yellowgreen;
}
.botonMenu
{
	margin-top: 10px;
	margin-left: 10px;
	display: none;
}
.botonMenu i{
	color: black;
}
.iconomenu{
	font-size: 40px;
}
.titulo
{
	margin-left: 20%;
	font-size: 23px;
    color: black;
    position: relative;
    top: 4px;
    left: 20px;
}

/*-----menu------*/
.menu-desktop{
	width: 25%;	
    float: left;
    border-right: 1px solid;
    position: fixed;
    padding-top: 70px;
    height: 85%;
    overflow: auto;
}
.menu-desktop .modal-dialog{
	margin: 0;
}
.imagenUsuario
{
	width: 50%;
}

.avatar{
	width: 45%;
	border-radius: 100%;
}
.cabeceramenu
{
	background: darkkhaki;
}
.titulo{
	text-align: center;
}
.itemMenu
{
	border-bottom: 1px solid #e5e5e5;
}
.itemMenu i{
	font-size: 35px;
}
.itemMenu a
{
	padding-top: 3%;
    padding-left: 5%;
    position: absolute;
    color: black;
}

/*--------template--------*/
.templates
{
	width: 75%;
	padding-left: 15px;
	padding-right: 15px; 
	float: right;
	overflow: auto;
	height: 85%;
	padding-top: 90px;
}
.allbody
{
	width: 100%;
	height: 100%;
}
/*----------template login------*/
.formLogin
{
	margin-top: 17%;
    margin-left: 36%;
    margin-right: 36%;
	border: 1px solid #80C5B0;
	padding: 2%;
	background: #AEC8AE;
}

body{
	    background: honeydew;
}
.pass{
	margin-top: 5%;
}
.buttonLogin{
	width: 50%;
    margin-top: 5%;
    margin-left: 20%;
}
/*-------template home------*/
.parrafos
{
	margin: 7% 3%;
}
.tituloHome
{
	text-align: center;
}

/*-------template registrar chance-------*/
.itemRegistrarchance
{
	margin: 10px 0px;
}
.modalVenta
{
	width: 100%;
}
.labelTotal{
	margin-left: 20%;
}

/*-------template registrar Empleado-------*/
.itemRegistrarEmpleado
{
	margin: 10px 0px;
}
.buttonAgregarEmpl
{
	    margin-left: 35%;
    width: 20%;
    margin-top: 10%;
}

/*-------------template editar chance*/
.buttonEditar1
{
	border: 1px solid black;
    background: darkgrey;
	width: 20%;
	margin-top: 6%;
    margin-left: 28%;
    margin-bottom: 2%;
}
.buttonEditar2
{
	border: 1px solid black;
    background: darkgrey;
	width: 25%;
	margin-top: 9%;
    margin-left: 28%;
    margin-bottom: 2%;
}

.bloqueoNumero
{
	background: #DEDEC8;
	padding-top: 2%;
	border: 1px solid black;
	margin-bottom: 6%;
}
.editarloteria
{
	background: #DEDEC8;
	padding-top: 2%;
	border: 1px solid black;
	margin-bottom: 6%;
}

/*-----------datos personales--------------*/
.labeldatos
{
	padding-left: 0px;
}
 h3
 {
 	text-align: center;
 } 
 .atras{
	    margin-top: 11%;
    font-size: 50px;
}
/*--------footer-----------*/
.footer
{
	position: absolute;
    display: block;
	height: 15%;
	background: yellowgreen;
	width: 100%;
}
.imagenPatrocinador
{
	float: left;
	margin: 0px 3.5%;
    max-width: 26%;
}
.imagenPatrocinador img{
	width: 80%;
}

/*---------contactenos--------*/

/*-----------template resultado-----------*/
.resultadoSmar
{
	display: none;
}
.resultadito
{
	margin-bottom: 15%;
}

/*------------dashboard-----------*/
.todo1
{
	width: 100%;
}

.grafica1 img
{
	width: 100%;
    float: left;
    height: 400px;
    margin: 5% 5%;
}




/*------------templates mensaje admin-----------*/
.empleadoMens
{
	margin-bottom: 12%;
    margin-top: 5%;
}
.mensajeMens
{
	margin-bottom: 30%;
    margin-top: 15%;
}
.botonMen
{
	width: 30%;
    margin-right: 5%;
}
.textAreaMens
{
	height: 100px;
}

/*--------------template balanceAdmin------------*/
.balancePrin
{
	width: 100%;
	margin-bottom: 10%;
}
.tituloBalanceEmp
{
	margin-top: 30px;
}


@media only screen and (min-width:768px) and (max-width: 1024px)  {

	.menu-desktop
	{
		display: none;
	}

	.botonMenu
	{
		display: inline-block;
	}

	.templates{
		width: 100%;
	}

	.modal-dialog {
		width: 25%;
	}

	.modalVenta
	{
		width: 100%;
	}
	.textAreaMens
	{
		height: 100px;
	}
}

@media only screen and (min-width: 321px) and (max-width: 767px){

	.menu-desktop
	{
		display: none;
	}

	.botonMenu
	{
		display: inline-block;
	}
	.templates{
		width: 100%;
	}
	.modal-dialog {
		width: 45%;
	}
	.modalVenta
	{
		width: 100%;
	}	
	.buttonEditar1
	{
		width: 35%;
	}
	.buttonEditar2
	{
		width: 35%;
	}		
	.columna3
	{
		display: none;
	}
	.columna4
	{
		display: none;
	}
	.atras{
		margin-top: 15%;
	    font-size: 50px;
	}
	.titulo {
	    margin-left: 1%;
	    font-size: 17px;
	    color: black;
	    position: relative;
	    top: 4px;
	    left: 0px;
	}
	.empleadoMens {
	    margin-bottom: -10%;
	    margin-top: 5%;
	}
	.textAreaMens
	{
		height: 100px;
		margin-bottom: -20%;
	}
	.formLogin
	{
		margin-left: 30%;
	    margin-right: 25%;		
	}
}

@media only screen and (max-width: 320px){

	.menu-desktop
	{
		display: none;
	}

	.botonMenu
	{
		display: inline-block;
	}
	.templates{
		width: 100%;
	}
	.modal-dialog {
		width: 75%;
	}

	.modalVenta
	{
		width: 100%;
	}
	.columna2
	{
		display: none;
	}
	.columna3
	{
		display: none;
	}
	.columna4
	{
		display: none;
	}
	.buttonEditar1
	{
    	width: 40%;
	}
	.buttonEditar2
	{
    	width: 40%;
	}
	.titulo {
	    margin-left: 1%;
	    font-size: 14px;
	    color: black;
	    position: relative;
	    top: 4px;
	    left: -3%;
	}

	.buttonAgregarEmpl 
	{
    	width: 40%;
	}
	/*--------template resultado-------*/
	.resultadoSlider
	{
		display: none;
	}
	.resultadoSmar
	{
		display: inline-block;
	}
	.atras{
	    margin-top: 20%;
   		 font-size: 50px;
	}
	.botonMen
	{
		width: 35%;
	    margin-right: 5%;
	}
	.formLogin
	{
		margin-left: 20%;
   		margin-right: 20%;		
	}
	.tituloBalance {
		margin-bottom: 10%;
	    margin-top: 10%;
	}
	.itemBalan
	{
		padding: 0px 0px;
	}  
	.itemBalanceButt{
		padding-left: 0px;
	    padding-right: 0px;
	}  
}
