<div class="cabeceramenu modal-header">
	<div class="avatar">
		<img src="img/avatar.png">
	</div>
	<h3 class="modal-title nombreUsuario">{{$root.user.nombre}}</h3>
</div>
<div class="cuerpomenu">
	<div>
		<div class="modal-body itemMenu">
			<i class="material-icons">&#xE146;</i>
			<a href="#/menuAdmin/registrarEmpleado"> Registrar Empleado </a>
		</div>
		<div class="modal-body itemMenu">
			<i class="material-icons">&#xE567;</i>
			<a href="#/menuAdmin/mapa">Mapa </a>
		</div>
		<div class="modal-body itemMenu">
			<i class="material-icons">&#xE3C9;</i>
			<a href="#/menuAdmin/editarChance"> Editar chance </a>
		</div>
		<div class="modal-body itemMenu">
			<i class="material-icons">&#xE01D;</i>
			<a href="#/menuAdmin/dashboard"> Dashboard </a>
		</div>
		<div class="modal-body itemMenu">
			<i class="material-icons">&#xE227;</i>
			<a href="#/menuAdmin/balance">Balance</a>
		</div>
		<div class="modal-body itemMenu">
			<i class="material-icons">&#xE158;</i>
			<a href="#/menuAdmin/mensajeAdmin">Mensajes</a>
		</div>
		<div class="modal-body itemMenu">
			<i class="material-icons">&#xE838;</i>
			<a href="#/menuAdmin/resultados">Resultados</a>
		</div>
		<div class="modal-body itemMenu">
			<i class="material-icons">&#xE0BA;</i>
			<a href="#/menuAdmin/contactenos">contactenos</a>
		</div>
	</div>
</div>