<div >
	<div  >
		<h3>BALANCE</h3>
	</div>
	 <div class="balancePrin">
    	<div class="col-sm-4 col-xs-4 itemBalan">
    		<input  class=" form-control"  type="Date" value="" ng-model="chance.fecha" required/>
    	</div>
    	<div class="col-sm-4 col-xs-4 itemBalan">
    		<button class=" form-control" ng-click="filtrar(chance.fecha)">Filtrar</button>
    	</div>

      <div class="col-sm-4 col-xs-4 itemBalan">
        <button class="itemBalanceButt form-control" ng-click="balanceTotal()">Balance Total</button>
      </div>
      
  </div>
  <div class="balancePrin">
    <div class="col-sm-4 col-xs-4 itemBalan">
        <input  class=" form-control"  type="Date" value="" ng-model="chance.fecha" required/>
      </div>
    <div class="col-sm-4 col-xs-4 itemBalan">
         <select id="chance.vendedor" class="form-control" ng-model="chance.vendedor">
          <option ng-repeat="User in userss" value="{{User.id}}" ng-model="User.id">{{User.id}}</option>
        </select>
    </div>  
     <div class="col-sm-4 col-xs-4 itemBalan">
        <button class="form-control" ng-click="filtrar1(chance.fecha,chance.vendedor)">Balance Emp</button>
      </div>
  </div>
</div>

<br>

<h3 class="page-header tituloBalance">Chances Vendidos</h3>
    <div class="col-md-12">
        <table class="table table-hover">
          <thead>
            <th>#</th>
            <th>loteria</th>
            <th class="columna2">signo</th>
            <th >numero</th>
            <th class="columna4">Serie</th> 
            <th class="columna4">valor</th>
            <th class="columna4">Fecha</th>
            <th >vendedor</th> 
          </thead>
          <tbody>
            <tr ng-repeat="chance in chances">
              <td style="cursor: not-allowed;">{{$index + 1}}</td>
              <td  field="loteria" ng-model="chance.loteria"> {{chance.loteria}}</td>
              <td  field="signo" ng-model="chance.signo" class="columna2" >{{chance.signo}}</td>
              <td  field="numero" ng-model="chance.numero" > {{chance.numero}}</td>
              <td  field="serie" ng-model="chance.serie" class="columna4"> {{chance.serie}}</td>
           	 <td  field="valor" ng-model="chance.valor" class="columna4" >{{chance.valor}}</td>
           	 <td  field="fecha" ng-model="chance.fecha" class="columna4">{{chance.fecha}}</td>
              <td  field="vendedor" ng-model="chance.vendedor" > {{chance.vendedor}}</td>
            </tr>
          </tbody>
        </table>
      </div>


      <br>
      <label >Total de venta es de  : {{total}}</label>