<header>
    <h1>Ventas</h1>
</header>  
<div class="todo">
    <div class="todo1">
        <div class="grafica1">
           <img src="reporteee.php" alt="" border="0">
       </div>
    </div>
</div>    