<div >
	<h3> Datos Personales</h3>
    <div>
        <label class="col-xs-6 col-sm-3 control-label labeldatos">Nombre :</label>
        <label class="col-xs-6 col-sm-9 control-label">{{nombre}}</label>
    </div>
    <div>
        <label class="col-sm-3  col-xs-6 control-label labeldatos">ID :</label>
        <label class="col-sm-9 col-xs-6 control-label">{{id}}</label>
    </div>
    <div>
        <label class="col-sm-3  col-xs-6 control-label labeldatos">Edad :</label>
        <label class="col-sm-9 col-xs-6 control-label">{{age}}</label>
    </div>
    <div>
        <label class="col-sm-3 col-xs-6 control-label labeldatos">Direccion :</label>
        <label class="col-sm-9 col-xs-6 control-label">{{direccion}}</label>
    </div>
    <div>
        <label class="col-sm-3 col-xs-6 control-label labeldatos">Telefono :</label>
        <label class="col-sm-9 col-xs-6 control-label">{{telefono}}</label>
    </div>   
    <div>
       <label class="col-sm-3 col-xs-6 control-label labeldatos">Username :</label>
       <label class="col-sm-9 col-xs-6 control-label">{{username}}</label>
   </div>
   <div>
        <label class="col-sm-3 col-xs-6 control-label labeldatos">Tipo :</label>
        <label class="col-sm-9 col-xs-6 control-label">{{tipo}}</label>
    </div>
</div>

<div>
     <a href="#/menuAdmin/registrarEmpleado" ><i  class="material-icons atras mano">&#xE5C4;</i></a>
</div>