
<div >
	<div >
		<h3>Agregar loteria - Eliminar loteria</h3>
	</div>
	<div class="editarloteria" >
	<label class="col-sm-4 control-label">Nombre loteria:</label>
	 <form  ng-submit="addLoteria()">	
    	<div class="col-sm-8">
			<input id="loteria" name="loteria" type="text" value="" placeholder="Nombre loteria" class="form-control" ng-model="loteria.nombre" required/>
		</div>
		<button id="agregarLoteria" class="form-control buttonEditar1" >Agregar</button>
	</form>
			<label class="col-sm-4 control-label">Loterias :</label>
    <div class="col-sm-8">
			<select id="loteria" class="form-control" ng-model="loteriaEli.nombre" >
				<option ng-repeat="loteria in loterias" value="{{loteria.nombre}}" ng-model="loteria.nombre" >{{loteria.nombre}}</option>
			</select>
		</div>
			<button id="eliminarLoteria" class="form-control buttonEditar2" ng-click="eliminarLoteria()">Eliminar</button>
	</div>
</div>
<div >
	<div>
		<h3>Bloquear N° - Desbloquear N°</h3>
	</div>	
	<div class="bloqueoNumero">
		<label class="col-sm-4 control-label">Ingrese numero :</label>
    <div class="col-sm-8">
		<input id="numero" name="numero" type="number" value="" placeholder="Numero" class="form-control "ng-model="numero.numero" />
	</div>
		<button id="numeroBloq"  class="form-control buttonEditar1" ng-click="addNumero()" >Bloquear</button>
		<label class="col-sm-4 control-label">Seleccione numero :</label>
    <div class="col-sm-8">
			<select id="numeros" class="form-control" ng-model="numeroEli.numero" >
				<option ng-repeat="numero in numeros" value="{{numero.numero}}" ng-model="numero.numero">{{numero.numero}}</option>
			</select>
		</div>
			<button  class="form-control buttonEditar2" ng-click="desbloquearNumero()">Desbloquear</button>
	</div>
</div>
				