
<div>
	<h3 class="page-header">MENSAJES</h3>
	<div class="empleadoMens">
		<label class="col-sm-4 control-label">Nombre empleado :</label>
	    <div class="col-sm-8">
		    <select id="mensaje.usuario" class="form-control" ng-model="mensaje.usuario">
					<option ng-repeat="User in userss" value="{{User.id}}" ng-model="User.id">{{User.id}}</option>
				</select>
	    </div>
	</div>
    <div class="mensajeMens">
	    <label class="col-sm-2 control-label">Mensaje :</label>
	    <div class="col-sm-10">
	      <textarea class="textAreaMens form-control" ng-model="mensaje.msj"></textarea>
	    </div>
    </div>
</div>

<div class="botonesMens">
	 <button   ng-click="enviar()" type="button" class="botonMen  btn btn-default " >Enviar</button>

	  <button  type="button" class="botonMen btn btn-default " >Cancelar</button>
</div>

