<div ui-state="activeTab" default="1">
  <ul class="nav nav-tabs">
    <li ui-class="{'active': activeTab == 1}">
      <a ui-set="{'activeTab': 1}">Registro Empleado</a>
    </li>
    <li ui-class="{'active': activeTab == 2}">
      <a ui-set="{'activeTab': 2}">Datos empleados</a>
    </li>
  </ul>

  <div ui-if="activeTab == 1">
    <h3 class="page-header">Registro empleado</h3>
    <label class="col-sm-2 control-label">Id :</label>
    <div>
        <form id="registrationForm" ng-submit="addUser(user.id)">
        <div class="col-sm-10">
          <input id="id" class="form-control itemRegistrarEmpleado" name="id" type="number" value="" placeholder=" Ingrese Id" ng-model="user.id"   required/>
        </div>
        <label class="col-sm-2 control-label">Nombre :</label>
        <div class="col-sm-10">
          <input  id="nombre" class="form-control itemRegistrarEmpleado" name="nombre" type="text" value="" placeholder=" Ingrese nombre" ng-model="user.nombre" required/>
        </div>
        <label class="col-sm-2 control-label">Edad :</label>
        <div class="col-sm-10">
          <input id="edad" class="form-control itemRegistrarEmpleado" name="edad" type="number" value="" placeholder=" Ingrese Edad"  ng-model="user.age"  required/>
        </div>
        <label class="col-sm-2 control-label ">Direccion :</label>
        <div class="col-sm-10">
          <input id="direccion" class="form-control itemRegistrarEmpleado" name="direccion" type="text" value="" placeholder=" Ingrese Direccion" ng-model="user.direccion" required/>
        </div>
        <label class="col-sm-2 control-label">Telefono :</label>
        <div class="col-sm-10">
          <input id="telefono" class="form-control itemRegistrarEmpleado" name="telefono" type="number" value="" placeholder=" Ingrese telefono" ng-model="user.telefono"  required/>
        </div>
        <label class="col-sm-2 control-label">Username :</label>
        <div class="col-sm-10">
          <input id="username" class="form-control itemRegistrarEmpleado" name="username" type="text" value="" placeholder=" Ingrese Username" ng-model="user.username" required/>
        </div>
        <label class="col-sm-2 control-label">Contraseña :</label>
        <div class="col-sm-10">
          <input id="password" class="form-control itemRegistrarEmpleado" name="password" type="text" value="" placeholder=" Ingrese contraseña" ng-model="user.password" required/>
        </div>
        <label class="col-sm-2 control-label">Tipo :</label>
        <div class="col-sm-10">
          <select id="tipo" class="form-control itemRegistrarEmpleado" ng-model="user.tipo"   required>
            <option value="Empleado" selected>Empleado</option>
            <option value="Administrador">Administrador</option>
          </select>
        </div>

        <button type="submit" class="form-control buttonAgregarEmpl" >Agregar</button>
        
       </form>
     </div>

  </div>

  <div ui-if="activeTab == 2">
    <h3 class="page-header">Datos apuesta</h3>
    <div class="col-md-12">
        <table class="table table-hover">
          <thead>
            <th></th>
            <th>Id</th>
            <th class="columna2">Nombre</th>
            <th class="columna3">Edad</th>
            <th class="columna4">Username</th> 
            <th class="columna4">Estado</th> 
          </thead>
          <tbody>
            <tr ng-repeat="user in users">
              <td ng-model="user.estado" ng-if="user.actual==='noline'"><i class="material-icons mano noline">&#xE3FA;</i></td>
              <td ng-model="user.estado" ng-if="user.actual==='line'"><i class="material-icons mano line">&#xE3FA;</i></td>

              <td ng-model="user.id"> <a href="#/menuAdmin/datosEmpleado/{{user.nombre}}/{{user.id}}/{{user.age}}/{{user.direccion}}/{{user.telefono}}/{{user.username}}/{{user.tipo}}">{{user.id}}</a></td>
              <td editable-tduser row="{{$index}}" field="nombre" ng-model="user.nombre" class="columna2" required>{{user.nombre}}</td>
              <td editable-tduser row="{{$index}}" field="age" ng-model="user.age" class="columna3" required> {{user.age}}</td>
              <td editable-tduser row="{{$index}}" field="username" ng-model="user.username" class="columna4" required> {{user.username}}</td>
              <td ng-model="user.estado" ng-if="user.estado==='Bloqueado'"><i ng-click="updateBloqueado(user)"class="material-icons mano">&#xE899;</i></td>
              <td ng-model="user.estado" ng-if="user.estado==='Desbloqueado'"><i ng-click="updateBloqueado(user)"class="material-icons mano">&#xE898;</i></td>
              <td class="columna5" required> <i  ng-click="deleteUser(user.id)" class="material-icons mano">&#xE16C;</i></td>
               <td class="columna6"> <i ng-click="updateUser(user)" class="material-icons mano">&#xE161;</i></td>
               
            </tr>
          </tbody>
        </table>
      </div>

  </div>
     
       
        
  </div>


