
<div>
	<p>	
		<br>
		<h1>404 - The page cannot be found </h1>
		<br>
		<br>
		<h3>Sorry, we cannot find the page you are looking for.</h3>
		<br>
		<br>
		<h3>It might have been removed, had its name changed, or is temporarily unavailable.</h3>
		<br>
		<br>
		<h3>Please check that the Web site address is spelled correctly.</h3>
		<br>
		<br>
		<h3>Or go to our home page, and use the menus to navigate to a specific section. </h3>
		<br>
		<br>
		<h3>Other things to try:</h3>
		<br>
		<br>
		<h3>Go to <a ng-click="go()">http://localhost/chanceFinal</a></h3>

	</p>
</div>
