<div>
	<img src="img/contactenos.png">
</div>
<div>
	<div >
	<h3>Servicio al Cliente</h3>
	</div>
	<div>
		<h5> CHANCE CH </h5>
	</div>
	<div>
		<h5>Cra 20 N° 31-06 - Armenia - Quindio</h5>
	</div>
	<div>
		<h5>PBX: (7) 7476243</h5>
	</div>
	<div>
		<h5>www.chancech.com</h5>
	</div>
</div>