<div>

	<div class="parrafos">
		<h1 class="tituloHome">Misión</h1>
		<p>
		Comercializar con Calidad en el departamento del Quindío  juegos de suerte y azar y otros servicios transaccionales por medio de una red tecnológica y una red de ventas especializada y de amplia cobertura, que satisfaga los requisitos y necesidades de los clientes, del estado, de los empleados y de los accionistas.
		</p>
	 </div>

	 <div class="parrafos">
		<h1 class="tituloHome">Visión</h1>
		<p>
		Ser  una de las 5 mejores empresas en comercialización de nuestro portafolio y con una reputación de marca positiva por su aporte al desarrollo del departamento del Quindío.
		</p>
	</div>

	<div class="parrafos">
		<h1 class="tituloHome">Ultimas noticias</h1>	
		<br>
		<br>
		<h4>CAPACITACIONES Y EVENTOS</h4>
		<p>
			El día 19 de Agosto vivimos una experiencia maravillosa con nuestras mejores asesoras de ventas de los meses de JUNIO y JULIO  en el LAGO CALIMA, donde disfrutamos y compartimos de un día espectacular con nuestros compañeros de trabajo.  
		</p>
	</div>

</div>