<header>
				
</header>
<div class="formLogin ">
	<form>	
		<i class="material-icons mano">&#xE853;</i>
		<div class="pass">			
			<input id="correo" name="correo" type="text" value="" placeholder="Ingresa usuario" ng-model="user.username"  class="form-control" required/>
		</div>
		<div class="pass">
			<i class="material-icons mano">&#xE0DA;</i>
			<input id="password" name="password" type="password" value="" placeholder="Ingresa tu contraseña" ng-model="user.password" class="form-control"  required/>
		</div>
		<button class="buttonLogin form-control" ng-click="login()">Login</button>
	</form>
</div>
