			
<div class="resultadoSlider" style="padding:120px 0;">
    <div id="thumbnail-slider">
        <div class="inner">
            <ul>
                <li>
                    <a class="thumb" href="img/6.jpg"></a>
                </li>
                <li>
                    <a class="thumb" href="img/7.jpg"></a>
                </li>
                <li>
                    <a class="thumb" href="img/2.jpg"></a>
                </li>
                <li>
                    <a class="thumb" href="img/3.jpg"></a>
                </li>
                <li>
                    <a class="thumb" href="img/4.jpg"></a>
                </li>
                <li>
                    <a class="thumb" href="img/5.jpg"></a>
                </li>
                <li>
                    <a class="thumb" href="img/8.jpg"></a>
                </li>
                <li>
                    <a class="thumb" href="img/9.jpg"></a>
                </li>
                <li>
                    <a class="thumb" href="img/10.jpg"></a>
                </li>
                <li>
                    <a class="thumb" href="img/11.jpg"></a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="resultadoSmar">
    <h3> Resultados Loteria</h3>
    <div class="resultadito">
        <div>
            <label class="col-xs-6 control-label labeldatos">Nombre :</label>
            <label class="col-xs-6  control-label">Quindio</label>
        </div>
        <div>
            <label class="col-sm-3  control-label labeldatos">Numero :</label>
            <label class="col-sm-9 control-label">2345</label>
        </div>
        <div>
            <label class="col-sm-3  control-label labeldatos">Serie :</label>
            <label class="col-sm-9  control-label">312</label>
        </div>
    </div> 

    <div class="resultadito">
        <div>
            <label class="col-xs-6 control-label labeldatos">Nombre :</label>
            <label class="col-xs-6  control-label">Boyaca</label>
        </div>
        <div>
            <label class="col-sm-3  control-label labeldatos">Numero :</label>
            <label class="col-sm-9 control-label">2345</label>
        </div>
        <div>
            <label class="col-sm-3  control-label labeldatos">Serie :</label>
            <label class="col-sm-9  control-label">312</label>
        </div>
    </div> 

    <div class="resultadito">
        <div>
            <label class="col-xs-6 control-label labeldatos">Nombre :</label>
            <label class="col-xs-6  control-label">Valle</label>
        </div>
        <div>
            <label class="col-sm-3  control-label labeldatos">Numero :</label>
            <label class="col-sm-9 control-label">2345</label>
        </div>
        <div>
            <label class="col-sm-3  control-label labeldatos">Serie :</label>
            <label class="col-sm-9  control-label">312</label>
        </div>
    </div> 

</div>