<div class="cabeceramenu modal-header">
	<div class="avatar">
		<img src="img/avatar.png">
	</div>
	<h3 class="modal-title nombreUsuario">{{$root.user.nombre}}</h3>
</div>
<div class="cuerpomenu">
	<div>
		<div class="modal-body itemMenu">
			<i  class="material-icons">&#xE147;</i>
			<a href="#/menuEmpleado/registrarChance"> Registrar chance </a>
		</div>
		<div class="modal-body itemMenu">
			<i class="material-icons">&#xE227;</i>
			<a href="#/menuEmpleado/balance">Balance</a>
		</div>
		<div class="modal-body itemMenu">
			<i class="material-icons">&#xE158;</i>
			<a href="#/menuEmpleado/mensajeEmp">Mensajes</a>
		</div>
		<div class="modal-body itemMenu">
			<i class="material-icons">&#xE838;</i>
			<a href="#/menuEmpleado/resultados">Resultados</a>
		</div>
		<div class="modal-body itemMenu">
			<i class="material-icons">&#xE0BA;</i>
			<a href="#/menuEmpleado/contactenos">contactenos</a>
		</div>
	</div>
</div>