<div >
	<div >
		<h3>BALANCE</h3>
	</div>
	 
	<div class="col-sm-6 col-xs-4">
		<input  class="  form-control"  type="Date" value="" ng-model="chance.fecha" required/>
	</div>
	<div class="col-sm-6 col-xs-4">
		<button class=" form-control" ng-click="filtrar(chance.fecha)">Filtrar</button>
	</div>
</div>

<br>

<h3 class="page-header tituloBalanceEmp">Chances Vendidos</h3>
    <div class="col-md-12">
        <table class="table table-hover">
          <thead>
            <th>#</th>
            <th>loteria</th>
            <th>signo</th>
            <th >numero</th>
            <th class="columna4">Serie</th> 
            <th class="columna4">valor</th>
            <th >Fecha</th> 
          </thead>
          <tbody>
            <tr ng-repeat="chance in chances">
              <td style="cursor: not-allowed;">{{$index + 1}}</td>
              <td  field="loteria" ng-model="chance.loteria"> {{chance.loteria}}</td>
              <td  field="signo" ng-model="chance.signo" >{{chance.signo}}</td>
              <td  field="numero" ng-model="chance.numero" > {{chance.numero}}</td>
              <td  field="serie" ng-model="chance.serie" class="columna4"> {{chance.serie}}</td>
           	 <td  field="valor" ng-model="chance.valor" class="columna4" >{{chance.valor}}</td>
           	 <td  field="fecha" ng-model="chance.fecha" >{{chance.fecha}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <br>
      <label >Total de venta es de  : {{total}}</label>