<h3 class="page-header">Mensajes</h3>
    <div class="col-md-12">
        <table class="table table-hover">
          <thead>
            <th >Mensaje</th>
            <th >Fecha</th>  
          </thead>
          <tbody>
            <tr ng-repeat="mensaje in mensajes">
              <td ng-model="mensaje.msj" ng-if="mensaje.estado==='true'"> <a href="#/menuEmpleado/msj/{{mensaje.msj}}" ng-click="abrirMensaje(mensaje)"><i class="material-icons mano">&#xE151;</i></a></td>
              <td ng-model="mensaje.msj" ng-if="mensaje.estado==='false'"> <a href="#/menuEmpleado/msj/{{mensaje.msj}}" ng-click="abrirMensaje(mensaje)"><i class="material-icons mano">&#xE158;</i></a></td>  
              <td ng-model="mensaje.fecha" field="fecha"> <a>{{mensaje.fecha}}</a></td>  
            </tr>
          </tbody>
        </table>
      </div>