<div ng-controller="MainEmpleadoCtrl as main" class="app-body-content">
	<div class="menuSuperior navbar navbar-app navbar-absolute-top">
		<button type="button" class="btn btn-default btn-lg botonMenu" ng-click="openAside('left', true)">
			<span class="glyphicon glyphicon-align-justify"></span> 
			<i class="fa fa-bars iconomenu" aria-hidden="true"></i>
		</button>
		<a  class="titulo" href="#/menuEmpleado/home"><b>CHANCE-CH</b></a>

		<a  class="titulo" href="#/login" ng-click="cerrarSession()"><b>Cerrar session</b></a>
	</div>
	<div class="allbody">
		<div class="menu-desktop">
			<div class="modal-dialog" ng-include="$root.rutas.menuLateralEmpleado">
				
			</div>
		</div>
		<div class="templates">
			<div  ui-view></div>
		</div> 
	</div>
	<div class="footer navbar navbar-app navbar-absolute-bottom">
		<div class="imagenPatrocinador">
			<img  src="img/medellin.png">
		</div>
		
		<div class="imagenPatrocinador">
			<img   src="img/boyaca.png">
		</div>
		<div class="imagenPatrocinador">
			<img  src="img/valle.png">
		</div>
	</div>
</div>