<div ui-state="activeTab" default="1">
  <ul class="nav nav-tabs">
    <li ui-class="{'active': activeTab == 1}">
      <a ui-set="{'activeTab': 1}">Registro apuesta</a>
    </li>
    <li ui-class="{'active': activeTab == 2}">
      <a ui-set="{'activeTab': 2}">Registro chance</a>
    </li>
  </ul>

  <div ui-if="activeTab == 1">
    <h3 class="page-header">Datos apuesta</h3>
    <label class="col-sm-2 control-label">Loteria :</label>
    <div>
        <form >
              <div class="col-sm-10">
                <select id="loteria" class="form-control" ng-model="chance.loteria" required>
                  <option ng-repeat="loteria in loterias" value="{{loteria.nombre}}" ng-model="loteria.nombre">{{loteria.nombre}}</option>
                </select>
              </div>
              <label class="col-sm-2 control-label">Signo :</label>
              <div class="col-sm-10">
                <select id="signo" class="form-control itemRegistrarchance" ng-model="chance.signo" ng-disabled="chance.loteria !== 'Astro'" required>
                  <option value="Pisis">Pisis</option>
                  <option value="Aries">Aries</option>
                  <option value="Tauro">Tauro</option>
                   <option value="Gemenis" selected>Gemenis</option>
                  <option value="Cancer">Cancer</option>
                  <option value="Leo">Leo</option>
                  <option value="Virgo">Virgo</option>
                   <option value="Libra" selected>Libra</option>
                  <option value="Escorpio">Escorpio</option>        
                  <option value="Saitario">Sagitario</option>
                  <option value="Capricornio">Capricornio</option>
                  <option value="Acuario">Acuario</option>
                </select>
              </div>
              <label class="col-sm-2 control-label">Numero :</label>
              <div class="col-sm-10">
                <input id="numero"  class="form-control itemRegistrarchance" name="numero" type="number" value="" placeholder=" Numero" ng-model="chance.numero" required/>
              </div>
              <label class="col-sm-2 control-label">Serie :</label>
              <div class="col-sm-10">
                <input id="serie"  class="form-control  itemRegistrarchance" name="serie" type="number" value="" placeholder=" Serie" ng-model="chance.serie" required/>
              </div>
              <label class="col-sm-2 control-label">Valor :</label>
              <div class="col-sm-10">
                <input id="valor"  class="form-control itemRegistrarchance" name="valor" type="number" value="" placeholder=" Valor" ng-model="chance.valor" required/>
              </div>
              <button id = "agregarnumero" type="button" class="btn btn-default itemRegistrarchance" ng-click="addChance(chance.numero)">Agregar</button>
          </form>
       </div>
  </div>

  <div ui-if="activeTab == 2">
    <h3 class="page-header">Datos apuesta</h3>
    <table class="table">
       <thead>
          <tr>
             <th>#</th>
             <th>Loteria</th>
             <th class="columna4">Signo</th>
             <th>Numero</th>
             <th class="columna4">Serie</th>
             <th class="columna2">Valor</th>
          </tr>
       </thead>
       <tbody>
            <tr ng-repeat="(key, chance) in lista">
            <td style="cursor: not-allowed;">{{$index + 1}}</td>
            <td editable-td row="{{$index}}" field="loteria" ng-model="chance.loteria">
               {{chance.loteria}}
            </td>
            <td editable-td row="{{$index}}" field="signo" ng-model="chance.signo" class="columna4">
               {{chance.signo}}
            </td>
            <td editable-td row="{{$index}}" field="numero" ng-model="chance.numero">
               {{chance.numero}}
            </td>
             <td editable-td row="{{$index}}" field="serie" ng-model="chance.serie" class="columna4">
              {{chance.serie}}
            </td>
             <td editable-td row="{{$index}}" field="valor" ng-model="chance.valor" class="columna2">
              {{chance.valor}}
            </td>
             <td><a ng-click="eliminar(key, chance.valor)">Eliminar</a></td>
          </tr>
       </tbody>
    </table>
    <button class="btn btn-default" ui-turn-on="modal1">Vender</button>    
    <label >Total a pagar : {{total}}</label>

    <label class="labelTotal" >Total a ganar: {{totalGan}}</label>
  </div>
</div>

<div ui-content-for="modals">
  <div class="modal" ui-if="modal1" ui-state='modal1'>
    <div class="modal-backdrop in"></div>
    <div class="modal-dialog modalVenta">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" 
          ui-turn-off="modal1">&times;</button>
          <h4 class="modal-title">venta</h4>
        </div>
        <div class="modal-body">
          <p>Esta seguro de realizar la venta</p>
        </div>
        <div class="modal-footer">
          <button ui-turn-off="modal1" class="btn btn-default">Cerrar</button>
          <button ui-turn-off="modal1" class="btn btn-primary" ng-click="vender()">Vender</button>
        </div>
      </div>
    </div>
  </div>
</div>